nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

h1 {
  font-size:xx-large;
}
.vis-container {
  background-color:blue;
  position: relative; 
 height: 60vh; 
 padding: 0%;
 overflow-y: scroll;
 
}
.graph-svg-component {
    background-color: #d3db88;
    position: absolute; 
    margin :2%;
}

.canvas-container{
  background-color: beige;
  position: relative;
  padding: 0%;
  margin: auto;
  overflow-y: scroll;
}